Pipfile
Pipfile.lock
!Pipfiles/RPI/Pipfile*
!Pipfiles/PC/Pipfile*
!Pipfiles/RPI Accel Only/Pipfile*

sd examples/
microphone_data/
accelerometer_data/
scratch/
data/

__queuestorage__
__py*
*.wav
.vscode
