[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sounddevice = "*"
soundfile = "*"
sparkfun-qwiic-kx13x = "*"
pynput = "*"
bluedot = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
