[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
soundfile = "*"
sounddevice = "*"
pynput = "*"
sparkfun-qwiic-kx13x = "*"
"rpi.gpio" = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
